<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    table,
    /* tr, */
    
    td {
        border: 1px solid black;
    }
    
    img {
        width: 50px;
        height: 50px;
    }
    
    header {
        display: flex;
        width: 100vw;
        padding: 10px;
    }
    
    .logo {
        width: 60%;
    }
</style>

<body>
    <h1>IPTU</h1>
    <hr>
    <header>
        <section>
            <table class="logo">
                <tr>
                    <td><img src="images/atende.png" alt=""></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>Contribuinte
                        <br>
                        <span class="contribuinte">
                            JOAO DA SILVA
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>CPF/CNPJ</td>
                    <td>Seção/Alfa</td>
                    <td>Matrícula</td>
                </tr>
                <tr>
                    <td>Nro coletas lixo semanal</td>
                    <td>Quadra/Lote</td>
                    <td>Bloco/Apto</td>
                </tr>
                <tr>
                    <td>Crédito NF-e Usado</td>
                    <td>Pavimentação</td>
                    <td>Testada</td>
                </tr>
                <tr>
                    <td colspan="3">Proprietario de imovel sem numero, deverao solicitar o servico de
                        <br>numeração junto a Secretaria Municipal da Fazenda
                    </td>
                </tr>
            </table>
        </section>
        <section>
            <table>
                <tr>
                    <td>Cadastro Imobiliario
                        <br> 21389
                    </td>
                    <td>Inscrição Imobiliária
                        <br> 01.15.004.5392.001
                    </td>
                </tr>
            </table>
        </section>
    </header>
    <table></table>
    <table></table>
    <table></table>
    <table></table>
    <table></table>
    <table></table>
    <table></table>
</body>

</html>