
@media only screen and (max-width: 1120px) {
}
@media only screen and (max-width: 1200px) {
	nav ul li a {
	  font-size: 14px;
	  padding:15px 8px;
	}
}

@media only screen and (max-width: 991px) {
	table{display:block; width:auto; overflow-x: auto; white-space: nowrap;}
	.carousel-caption .btn-default {
		margin-top: 7%;
	}
	.carousel-caption .btn2{
		margin-top: 10%;
	}
	.titulo{
		top:12%;
	}
	h2.centro{
		top:10%;
	}
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}	
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
	}

	.navbar-nav .open .dropdown-menu>li>a {
		line-height: 20px;
	}

	.dropdown-menu>li>a:focus, 
	.dropdown-menu>li>a:hover {
		color: #fff;
		text-decoration: none;
		background: none;
	}
}

@media only screen and (max-width: 768px) {

	.header .logo{
		width:120px;
	}
	.header .title{
		font-family: 'Oswald', sans-serif;
		font-size:26px;
		color: #46dea6;
		padding-right: 0;
	}
	.carousel-caption h3{
		margin-top:50px;
		font-size:20px;
	}
	.section{
		margin-top:40px;
	}
	.footer{
		padding:20px 0;
	}
}
